*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
html {
    color: #e1e2e7;
}

body {
    background: #795e42;
}
.accordion{
    display: flex;
    background-color: #553411;
    flex-direction: column;
    width: 50%;
    margin:100px auto;
    gap: 30px;
    border-radius: 5px;
}
.item{
    display: grid;
    box-shadow: 0 0 34px 0 rgb(124, 83, 83);
    /* align-items: center; */
    padding: 30px;
    grid-template-columns: auto 1fr auto;
}
h2{
    /* padding-left: 30px; */
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
}
.number{
    font-size: 24px;
    padding: 3px;
}
.icon{
    width: 24px;
    height: 24px;
    color: #e1e2e7;
}
.hidden-box{
    grid-column: 2/3;
    display: none;

}
.hidden-box p{
    margin-bottom: 24px;
    line-height: 1.3;
    font-size: 20px;
}
.hidden-box ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hidden-box ul li{
    margin-left: 16px;
}
.active{
    position: relative;
}
.active::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #131414;
    animation: borderline 1s linear forwards;
}
.active .hidden-box {
    display: block;
}
@keyframes borderline{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
